@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Fjalla+One&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #effffe;
}
h4{
    font-family: 'Fjalla One, sans-serif'
}